flows.json
[{"id":"e99ed687.fb4bb8","type":"tab","label":"Base de datos","disabled":false,"info":""},{"id":"e6f7ebbb.db2fe8","type":"mysql","z":"e99ed687.fb4bb8","mydb":"1c0dbfb3.e3cfb","name":"","x":440,"y":60,"wires":[["228700b2.69af5"]]},{"id":"9cb6cd28.23385","type":"function","z":"e99ed687.fb4bb8","name":"","func":"msg.topic = \"INSERT INTO `node-red`.`inventario` (`nombre`) VALUES ('\"+msg.payload+\"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["e6f7ebbb.db2fe8"]]},{"id":"228700b2.69af5","type":"debug","z":"e99ed687.fb4bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":60,"wires":[]},{"id":"631bbfba.f13eb","type":"ui_text_input","z":"e99ed687.fb4bb8","name":"","label":"","tooltip":"","group":"be4568b1.0a4c18","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1200","topic":"","x":100,"y":60,"wires":[["9cb6cd28.23385"]]},{"id":"1c0dbfb3.e3cfb","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"node-red","tz":""},{"id":"be4568b1.0a4c18","type":"ui_group","z":"","name":"base de datos","tab":"53d8a77d.f614b8","disp":true,"width":"6","collapse":false},{"id":"53d8a77d.f614b8","type":"ui_tab","z":"","name":"equis","icon":"dashboard","disabled":false,"hidden":false}]